.swiperContainer {
  height: 90%;
  width: 100%;
} 

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  background: #ffffff;
  color: #1e1e1e;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(../../icons/modalCloseLeft.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  &:hover {
    background-color: #eeeeee;
  }

  @media screen and (max-width: 500px) {
    width: 24px;
    height: 24px;
  }
}

.swiper-button-next::after {
  display: none !important;
}

.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-prev {
  background: #ffffff;
  color: #1e1e1e;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(../../icons/modalCloseRight.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  &:hover {
    background-color: #eeeeee;
  }

  @media screen and (max-width: 500px) {
    width: 24px;
    height: 24px;
  }
}
.swiper-button-next:after {
  font-size: 15px;
}

.swiper-button-prev:after {
  font-size: 15px;
}
.swiperImage {
  max-width: 90%;
  margin-top: 35px;
}

.next,
.prev {
  img {
    width: 100%;
    border-radius: 50%;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 1100px) {
  .swiperImage {
    width: 66%;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .swiperImage {
    width: 100%;
    margin-top: 0;
  }
}
